body{
    /* 1em equivale a 16px*/
    font-size: 1em;
    font-family: "Trebuchet MS", 'Helvetica',  sans-serif;
    background: rgb(0, 0, 0) ;
    margin: auto;
} 

h1{
    text-align: center;

}

img{
    display: inline-block;
}

.area-principal{
    width:920px;
    height: 900px;
    /*Permite deixar a margem esquerda e direita automática ou seja centralizado*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding:50px;
    background: rgb(255, 0, 0);

}

.cima{
    width: 400px;
    height: 60px;
    background-color: rgb(100, 100, 100);
    margin-right: auto;
    margin-left: auto;
}
