body{
  font-family: Arial;
  display: flex;
  justify-content: center;
  background: #00410e;
}

.calendar-header{
  display: block;
}

main{
  width: 70%;
  display: flex;
  justify-content: center;
}


.container{
  display: flex;
  justify-content: center;
}

.card{
  position: absolute;
  width: 60%;
}

.calendar-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  width: 100%;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.calendar-button{
  width: 28%;
  height: 50px;
  color: black;
  border: 0px;
  box-shadow: 0px;
  font-weight: bold;
  background: 0%;
}

#table-form{
  width: 43%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#table-form select{
  height: 50px;
  text-align: center;
  font-weight: bold;
}

#table-form select:nth-child(1){
  width: 67%;
  display: flex;
  justify-content: center;
}

#table-form select:nth-child(2){
  width: 34%;
  display: flex;
  justify-content: center;
}

th{
  padding: 20px 10px;
  background-color: #82c55b;
  color: black;
  font-weight: bolder;
}

table, th, td {
  border: 2px solid #095431;
  border-collapse: collapse;
  background-color: white;
}

td:hover{
  background-color: #bae8a0fd;
  cursor: pointer;
}

.today{
  background-color: #6dc739;
  border: 3px solid #095431;
  font-weight: bold;
}

.calendar-button:hover{
  background-color: rgb(102, 255, 0);
}