body {
    background: #82c55b;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .container {
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
  }
  
  .common {
    height: 5vw;
    max-height: 100%;
    overflow: auto;
    width: 2vw;
    margin: auto;
    max-width: 100%;
    position: absolute;
    background-color: ;
    border-radius: 0vw 10vw 0vw 10vw;
    box-shadow: inset 0vw 0vw 0vw .1vw #ffffff, 0vw 0vw 1.5vw 0vw #ffffff;
  }
  
  .one {
    transform: rotate(45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 7.5vw;
  }
  
  .two {
    transform: rotate(90deg);
    left: 5.5vw;
    right: 0;
    top: 0;
    bottom: 5.5vw;
  }
  
  .three {
    transform: rotate(135deg);
    left: 7.5vw;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .four {
    transform: rotate(180deg);
    left: 5.5vw;
    right: 0;
    top: 5.5vw;
    bottom: 0;
  }
  
  .five {
    transform: rotate(225deg);
    left: 0;
    right: 0;
    top: 7.5vw;
    bottom: 0;
  }
  
  .six {
    transform: rotate(270deg);
    left: 0;
    right: 5.5vw;
    top: 5.5vw;
    bottom: 0;
  }
  
  .seven {
    transform: rotate(315deg);
    left: 0;
    right: 7.5vw;
    top: 0;
    bottom: 0;
  }
  
  .eight {
    transform: rotate(360deg);
    left: 0;
    right: 5.5vw;
    top: 0;
    bottom: 5.5vw;
  }
  
  .bar {
    width: 12vw;
    height: .25vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 16vw;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    background: #ffffff;
  }
  

  .one {
    animation: one 1s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes one {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .two {
    animation: two 1s .125s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes two {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .three {
    animation: three 1s .25s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes three {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .four {
    animation: four 1s .375s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes four {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .five {
    animation: five 1s .5s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes five {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .six {
    animation: six 1s .625s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes six {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .seven {
    animation: seven 1s .750s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes seven {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .eight {
    animation: eight 1s .875s ease infinite;
    background-color: #0f5800
  }
  
  @keyframes eight {
    0%,
    100% {}
    50% {
      background: ;
      box-shadow: inset 0vw 0vw 0vw .1vw #0f5800, 0vw 0vw 1.5vw 0vw #0f5800;
    }
  }
  
  .container {
    animation: container 5s linear infinite;
  }
  
  @keyframes container {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
   
  .out {
    animation-duration: 5s;
    animation-name: out;
    animation-timing-function: ease;
  }
  
  @keyframes out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

